body{
    overflow: hidden;
    box-sizing: border-box;
}
.top-image{
    position: absolute;
    /* height: 300px; */
}
.bottom-image{
    position: absolute;
    right: 0;
}
h1{
    color:hsl(300, 43%, 22%);
    font-size: 45px;
}
.p-1{
    color: rgba(128, 0, 128, 0.597);
}
.main{
    display: inline-block;
    margin-left: 40vh;
    margin-top: 55px;
}
.main-2 img{
    margin-left: 5px;
    height: 10px;
}
span{
    margin-left: 35px;
    font-weight: bold;
    font-size: 13px;
    color:hsl(300, 43%, 22%);
}
.main-2{
    display: inline-block;
    background-color: rgba(137, 43, 226, 0.166);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 60px;
    border-radius: 5px;
    position: absolute;
    top: 17vh;
    right: 55vh;
}
.main-3{
    display: inline-block;
    background-color: rgba(137, 43, 226, 0.166);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 60px;
    border-radius: 5px;
    position: absolute;
    top: 26vh;
    right: 45vh;
}
.main-3 img{
    margin-left: 5px;
    height: 10px;
}
.main-4{
    display: inline-block;
    background-color: rgba(137, 43, 226, 0.166);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 60px;
    border-radius: 5px;
    position: absolute;
    top: 35vh;
    right: 38vh;
}
.main-4 img{
    margin-left: 5px;
    height: 10px;
}
.card-1{
    display: inline-block;
    background-color: hsl(300, 43%, 22%);
    position: absolute;
    left: 40vh;
    bottom: 10vh;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 50px;
}
.card-1 img{
    border-radius: 50px;
    height: 25px;
}
.card-1 span{
    color: white;
    display: inline-block;
}
.p-2{
    color: white;
    font-size: 15px;
}
.card-2{
    display: inline-block;
    background-color: hsl(300, 43%, 22%);
    position: absolute;
    right: 70vh;
    bottom: 8vh;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 50px;
}
.card-2 img{
    border-radius: 50px;
    height: 25px;
}
.card-2 span{
    color: white;
    display: inline-block;
}
.card-3{
    display: inline-block;
    background-color: hsl(300, 43%, 22%);
    position: absolute;
    right: 15vh;
    bottom: 6vh;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 50px;
}
.card-3 img{
    border-radius: 50px;
    height: 25px;
}
.card-3 span{
    color: white;
    display: inline-block;
}


@media screen and (max-width : 950px){
    body{
        overflow-y: scroll;
    }
    .card{
        display: block;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        width: 300px;
        margin: 0 auto 20px;
    }
    .card-1{
        position: relative;
    }
    .card-2{
        position: relative;
    }
    .card-3{
        position: relative;
    }
    .main{
        position: relative;
        margin: auto;
    }
    .plan{
        position: relative;
        display: inline-block;
        left: 20em;
        
    }
    .main-2{
        top: -15em;
    }
    .main-3{
        top: -14em;
    }
    .main-4{
        top: -13em;
    }
}